.block-form {
  border-top: 3px solid $orange;
  box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.16);

  .block-form-title {
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
  }

  .ic-input {
    color: rgba($primary, 0.5);
    position: absolute;
    top: 10px;
    left: 10px;
  }
}
