.item-card {
  text-align: center;
  background: $secondary;
  box-shadow: 3px 3px 4px 0px rgba(#000, 0.16);

  .item-card-image {
    position: relative;
    height: 120px;
    
    .icon {
      position: absolute;
      top: 8px;
      left: 8px;
    }
  }

  .item-card-text {
    width: 90px;
    border-top: 1px solid $primary;
    padding-top: 20px;
    padding-bottom: 12px;
    margin: 8px auto 0;
  }

  .item-card-btn {
    width: 100%;
    padding: 2px 0;
    border-width: 2px;
  }
}

.ribbon {
  @include ribbon(#fff, #00cc99, #078f6d);
}
